.landing {

    .signupHeading {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .signupText {
        font-weight: 500;
        margin: 2rem;
    }

    .landingLeft {
        text-align: center;
    }

}

.landing_caption {
    color: hsl(0, 2.07%, 76.29%);
    font-size: 1rem;
    font-weight: 600;
    /* margin: 2rem 3rem; */
}
