.logo {
    
    font-size: 1.4rem;
    font-weight: 600;

}

.logoLink {
    color: hsl(0, 0, 0);
    text-decoration: none;
}

.logoCaption {
   color: hsl(0, 2.07%, 76.29%);
   font-size: 0.7rem;
   font-weight: 500;

}