.navbar {
    background-color: hsl(0, 0%, 100%);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    left: 0;
    text-align: center;
    top: 0;
    width: 100%;
}